body{
    margin: 20px;
}

h1{
    text-align: center;
}

.input-area{
    display: flex;
    justify-content: center;
}

input{
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 5px ;
}

button{
    border: none;
    background-color: #3caf50;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
}

li{
    list-style-type: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}